.comp_recipe-generator-modal {
	.modal-content {
		.modal-body {
			padding: 0 50px 20px 55px;
			display: flex;
			flex-wrap: wrap;

			* {
				user-select: none;
			}

			.image-tech-wrapper {
				box-sizing: border-box;
				width: 40%;
				display: flex;
				flex-direction: column;
				font-size: 0.35rem;
				font-weight: 500;

				.image {
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.tech {
					margin: 0;
					padding: 10px 0;

					.cook,
					.difficulty,
					.prep,
					.servings,
					.rating {
						margin-right: 20px;
						display: flex;
						flex-direction: column;
						text-align: center;

						label {
							display: flex;
							flex-direction: column;

							span {
								svg {
									width: 1rem;
								}
							}
						}
					}
				}
			}

			.ingredients-wrapper {
				box-sizing: border-box;
				width: 25%;
				padding: 0 20px;
				font-size: 0.35rem;

				label {
					display: flex;
					align-items: center;
					margin-bottom: 10px;
					font-size: 0.4rem;
					padding-bottom: 5px;

					span {
						display: inline-block;
						margin-right: 10px;

						svg {
							width: 0.5rem;
						}
					}
				}
			}

			.directions-wrapper {
				box-sizing: border-box;
				width: 35%;
				padding: 0 20px;
				font-size: 0.45rem;

				label {
					display: flex;
					align-items: center;
					margin-bottom: 10px;
					font-size: 0.4rem;
					padding-bottom: 5px;
					border-bottom: 1px solid;

					span {
						display: inline-block;
						margin-right: 10px;

						svg {
							width: 0.5rem;
						}
					}
				}
			}
		}
	}
}