.comp_settings-modal {
    .modal-content {
        .modal-body {
            padding: 20px 50px 20px 45px;
        }
    }

    .tabs-header-container {
        * {
            user-select: none;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;

            li {
                display: flex;
                cursor: pointer;
                padding: 10px 16px;
                font-size: 0.4rem;
                font-weight: 700;
            }
        }
    }

    .tabs-content-container {
        min-height: 432px;
        padding: 20px 0 0;

        .content {
            display: none;
            padding: 15px;

            * {
                user-select: none;
            }

            &.active {
                display: block;
            }

            .sub-title {
                font-size: 0.5rem;
                font-weight: bold;
            }

            .info {
                font-size: 0.4rem;
                margin: 5px 0;
                width: 50%;
            }

            .form-control {
                &:read-only {
                    font-size: 0.4rem;
                    padding: 5px 10px;
                }
            }

            .storage-directory-container {
                .form-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .input-container {
                        display: flex;
                        align-items: center;
                        width: 50%;

                        .comp_fe_text-field {
                            width: 100%;

                            .form-control {
                                height: 32px;
                            }
                        }
                    }

                    .buttons-container {
                        display: flex;
                        align-items: center;

                        button {
                            margin-left: 7px;
                            border-radius: 10px;
                        }
                    }
                }
            }

            .storage-directory-backups-container {
                margin-top: 50px;

                .form-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .input-container {
                        display: flex;
                        align-items: center;
                        width: 50%;

                        .comp_fe_tags-field {
                            width: 100%;

                            .form-group {
                                margin: 0;

                                .title-area {
                                    display: none;
                                }

                                .tags-input-main-container {
                                    .tag-wrapper {
                                        border: none;
                                        background: transparent;

                                        .close-link {
                                            display: none;
                                        }
                                    }

                                    .input-container {
                                        display: none;
                                    }
                                }
                            }
                        }

                        .comp_fe_text-field {
                            width: 100%;

                            .form-control {
                                height: 32.5px;
                            }
                        }
                    }

                    .buttons-container {
                        display: flex;
                        align-items: center;

                        button {
                            margin-left: 7px;
                            border-radius: 10px;
                        }
                    }
                }
            }

            .storage-restore-container {
                margin-top: 50px;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    border-radius: 4px;
                    overflow: auto;
                    height: 200px;

                    li {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 6px 8px;
                        font-size: 0.4rem;

                        span {
                            cursor: pointer;
                            border-radius: 10px;
                            padding: 6px 8px;

                            &:hover {
                                background-color: rgba(0, 0, 0, 0.3);
                            }
                        }
                    }
                }

                .info {
                    width: 100%;
                }
            }
        }

        .about-section {
            text-align: center;

            * {
                font-size: 0.5rem;
                user-select: none;
            }

            .product-name {
                margin-top: 10px;
                font-size: 0.55rem;
                font-weight: 700;

                small {
                    font-size: 0.4rem;
                }
            }

            .about-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 32px;

                .text {
                    font-size: 0.4rem;
                    margin: 5px 0 0;
                }

                .author {
                    font-size: 0.4rem;
                    font-weight: 700;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .description {
                font-size: 0.4rem;
                margin-top: 3px;
                margin-bottom: 15px;
            }

            .link-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 16px;

                .link {
                    margin: 0;
                    font-size: 0.4rem;
                    font-weight: bold;
                    cursor: pointer;
                    display: inline-block;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .update-section {
            display: flex;
            justify-content: space-between;
            align-items: center;

            * {
                user-select: none;
            }

            .info {
                font-size: 0.4rem;
                padding-right: 40px;
            }
        }

        .help-section {
            display: flex;
            flex-direction: column;

            * {
                user-select: none;
            }

            .sub-title {
                margin-bottom: 30px;

                span {
                    font-size: 0.5rem;
                    font-weight: 700;
                    padding-bottom: 4px;
                    border-bottom: 6px solid #ffa500;
                }
            }

            .info {
                width: 100%;
                font-size: 0.4rem;
                padding: 0;
                margin: 0;

                table {
                    width: 100%;
                    line-height: 1.5;
                    border-collapse: collapse;
                }

                table tr td {
                    padding: 5px 20px;
                }

                table tr td:nth-child(1) {
                    width: 60%;
                }

                .tiny-text {
                    font-size: 0.35rem;
                    padding: 0 5px;
                    color: #6fd66f;
                }
            }
        }

        .theme-section {
            * {
                user-select: none;
            }

            ul {
                display: flex;
                justify-content: flex-start;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    margin: 15px;
                    cursor: pointer;

                    .image-container {
                        display: flex;
                        border: 3px solid transparent;
                    }

                    .text-container {
                        font-size: 0.5rem;
                        margin-top: 8px;
                        font-weight: bold;
                    }
                }
            }
        }

        .language-section {
            * {
                user-select: none;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    margin: 0 15px;
                    cursor: pointer;

                    .text-container {
                        font-size: 0.4rem;
                        margin-top: 8px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}