.grid-display {
    .comp_recipe-list {
        display: grid;
        --auto-grid-min-size: 300px;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 300px));
        grid-gap: 15px;
        padding: 15px;

        .comp_recipe-list-item {
            position: relative;

            .sub-container {

                .left-side {
                    position: relative;
                    width: 100%;

                    .tags-list {
                        position: absolute;
                        bottom: 0;
                    }
                }

                .right-side {
                    svg {
                        top: 10px;
                        right: 19px;
                    }
                }
            }

            .recipe-list-menu {

            }
        }
    }
}

.imglist-display {
    .comp_recipe-list {}
}
