@import "../themes/theme";

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;

    * {
        font-family: 'Open Sans', sans-serif;
        outline: none !important;

        &::-webkit-scrollbar {
            width: 10px;
        }
    }
    font-size: calc(16px + (60 - 16) * ((100vw - 320px) / (1980 - 320)));
}

#root {
    height: 100vh;

    .content-main-container {
        display: flex;
        height: calc(100vh - 81px);

        .content-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }
}

#sidebar-container {
    margin-left: 0;
    transition: all 0.5s linear;
}

#sidebar-container.hidden {
    margin-left: -6rem;
}

#noty_layout__bottomRight {
    bottom: 60px !important;
    width: 40vw;
}

.noty_theme__sunset {
    .noty_body {
        font-size: 0.4rem !important;
        display: flex;
        align-items: flex-start;
        padding: 20px !important;

        & svg {
            width: 0.7rem;
            height: 0.6rem;
            padding-right: 10px;
        }
    }
}