.tech,
.tech-two {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    & > div:not(:last-of-type) {
        margin-right: 10px;
    }

    .comp_fe_choice-field {
        min-width: 100px;

        label {
            span {
                display: flex;
                align-items: center;

                svg {
                    margin-right: 10px;
                }
            }
        }
    }
}

.comp_fe_image-field {
    position: relative;
    height: 50vh;
    overflow: hidden;
    border-radius: 20px;

    .image-preview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

        label {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: 0.4rem;

            span {
                text-align: center;
                padding: 15px 20px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                border-radius: 10px;
                font-size: 0.35rem;
                font-weight: bold;
                color: #fff;
                text-shadow: 2px 4px 3px #000;
                background: rgba(0, 0, 0, 0.4);
                margin-bottom: 10px;
            }
        }

        img {
            width: auto;
            height: 100%;
            border-radius: 20px;
        }
    }

    .uploader-wrapper {
        position: relative;
        height: 100%;

        .image-uploader {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            .fileContainer {
                margin: 0 auto;
                height: calc(100% - 40px);

                .uploadPictureContainer {
                    width: 25%;
                    margin: 0;
                    background: #fff;

                    .deleteImage {
                        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
                        border: 5px solid #fff;
                        background: #ff0000;
                        text-transform: lowercase;
                        top: -15px;
                        right: -15px;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 26px;
                    }
                }
            }
        }

        .uploader-close {
            z-index: 1;
            position: absolute;
            right: 5px;
            top: 5px;
            background: #ff0000;
            color: #fff;
            border-radius: 50%;
            padding: 0;
            font-size: 18px;
            font-weight: bold;
            line-height: 28px;
            display: flex;
            justify-content: center;
            width: 32px;
            height: 32px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.comp_fe_text-field {
    .form-group {
        &.title {
            margin-bottom: 50px;
        }

        label {
            &.form-label {
                display: block;
                font-weight: bold;
                font-size: 0.35rem;
                margin-bottom: 20px;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;
                    line-height: 1.1;
                    height: 30px;

                    svg {
                        margin-right: 10px;
                    }
                }
            }

            &.error-label {
                display: block;
                font-size: 0.3rem;
                margin-top: 5px;
                cursor: pointer;
            }

            svg {
                width: 0.5rem;
                margin-left: 5px;
            }
        }

        .form-control {
            display: block;
            width: calc(100% - 26px);
            height: 34px;
            padding: 0 12px;
            font-size: 0.35rem;
            border-radius: 4px;
        }
    }
}

.comp_fe_url-field {
    margin-bottom: 50px;

    .form-group {
        label {
            &.form-label {
                display: block;
                font-weight: bold;
                font-size: 0.35rem;
                margin-bottom: 20px;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;
                    line-height: 1.1;
                    height: 30px;

                    svg {
                        margin-right: 10px;
                    }
                }
            }

            &.error-label {
                display: block;
                font-size: 0.3rem;
                margin-top: 5px;
                cursor: pointer;
            }

            svg {
                width: 0.5rem;
                margin-left: 5px;
            }
        }

        .form-control {
            display: block;
            width: calc(100% - 26px);
            height: 34px;
            padding: 0 12px;
            font-size: 0.35rem;
            border-radius: 4px;
        }
    }
}

.comp_fe_textarea-field {
    .form-group {
        &.ingredients {
            margin-bottom: 50px;
        }

        label {
            &.form-label {
                display: block;
                font-weight: bold;
                font-size: 0.35rem;
                margin-bottom: 22px;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 10px;
                    }
                }
            }

            &.error-label {
                display: block;
                font-size: 0.3rem;
                margin-top: 5px;
                cursor: pointer;
            }

            svg {
                width: 0.5rem;
                margin-left: 5px;
            }
        }

        .form-control {
            display: block;
            width: calc(100% - 26px);
            height: 300px;
            resize: none;
            padding: 10px;
            font-size: 0.35rem;
            border-radius: 4px;
        }
    }
}

.comp_fe_number-field {
    width: 200px;

    .form-group {
        label {
            &.form-label {
                display: block;
                font-weight: bold;
                font-size: 0.35rem;
                margin-bottom: 20px;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;
                    line-height: 1.1;
                    height: 30px;

                    svg {
                        margin-right: 10px;
                    }
                }
            }

            &.error-label {
                display: block;
                font-size: 0.3rem;
                margin-top: 5px;
                cursor: pointer;
            }

            svg {
                width: 0.5rem;
                margin-left: 5px;
            }
        }

        .form-control {
            display: block;
            width: calc(100% - 26px);
            height: 34px;
            padding: 0 12px;
            font-size: 0.275rem;
            border-radius: 4px;
        }
    }
}

.comp_fe_choice-field {
    .form-group {
        label {
            &.form-label {
                display: block;
                font-weight: bold;
                font-size: 0.35rem;
                margin-bottom: 15px;
                line-height: 1.1;
                height: 34px;
                cursor: pointer;
            }

            &.error-label {
                font-size: 0.35rem;
                margin-top: 5px;
                cursor: pointer;
            }

            svg {
                width: 0.5rem;
                margin-left: 5px;
            }
        }

        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 0 8px;
            font-size: 0.275rem;
            border-radius: 4px;
        }
    }
}

.comp_fe_markdown-field {
    .rc-md-editor {
        border-radius: 3px;
        overflow: hidden;

        .tool-bar {
            position: absolute;
            z-index: 1;
            right: 3px;
            top: -25px;
        }

        .rc-md-navigation {
            border-radius: 3px 3px 0 0;
        }

        .navigation-nav {
            &.right {
                .button-wrap {
                    .button {
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .form-group {
        .title-area {
            display: flex;
            margin-bottom: 5px;
            align-items: center;
            justify-content: space-between;

            .md-link-text {
                font-size: 0.275rem;
                text-align: right;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                .fas {
                    margin-left: 5px;
                }
            }
        }

        label {
            &.form-label {
                display: block;
                font-weight: bold;
                font-size: 0.35rem;
                margin-bottom: 20px;
                cursor: pointer;
            }

            &.error-label {
                font-size: 0.35rem;
                margin-top: 5px;
                cursor: pointer;
            }
        }

        .form-control {
            display: block;
            width: calc(100% - 26px);
            height: 34px;
            padding: 0 12px;
            font-size: 0.275rem;
            border-radius: 4px;
        }
    }
}

.comp_fe_tags-field {
    margin-bottom: 50px;

    .form-group {
        .title-area {
            display: flex;
            margin-bottom: 5px;
            align-items: center;
            justify-content: space-between;
        }

        label {
            &.form-label {
                font-weight: bold;
                font-size: 0.35rem;
                margin-bottom: 10px;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 21px;
                        margin-right: 10px;
                    }
                }
            }

            &.info-text {
                font-size: 0.275rem;
                text-align: right;
                cursor: pointer;
            }

            &.error-label {
                font-size: 0.35rem;
                margin-top: 5px;
                cursor: pointer;
            }
        }

        .form-control {
            display: block;
            width: calc(100% - 26px);
            height: 34px;
            padding: 0 12px;
            font-size: 0.275rem;
            border-radius: 4px;
        }
    }

    .tags-input-main-container {
        display: flex;
        align-items: center;
        font-size: 0.275rem;
        border-radius: 3px;
        flex-wrap: wrap;
        padding: 3px;

        .tag-wrapper {
            font-size: 0.35rem;
            display: flex;
            flex-direction: row;
            margin: 3px;
            border-radius: 2px;
            user-select: none;

            .tag-text {
                padding: 4px 20px 4px 10px;
            }

            .close-link {
                display: flex;
                width: 25px;
                justify-content: center;
                align-content: center;
                align-items: center;
                cursor: pointer;
            }
        }

        .input-container {
            margin-left: 3px;
            position: relative;

            .form-element {
                padding: 4px 0;
                font-size: 0.35rem;
                margin: 4px 3px;
                border: none;
            }

            .auto-suggestion-container {
                position: absolute;
                margin-left: -7px;
                margin-top: 5px;
                width: 100%;
                border-radius: 3px;
                overflow: hidden;
                border: none;
                z-index: 2;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        padding: 8px 12px;
                        cursor: pointer;

                        &:last-child {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

.comp_fe_recipe-field {
    .full {
        .recipe-container {
            width: 100%;
            height: 100% !important;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000;

            .body {
                height: 100%;
            }
        }
    }

    .form-group {
        label {
            &.form-label {
                display: block;
                font-weight: bold;
                font-size: 0.35rem;
                margin-bottom: 5px;
                cursor: pointer;
            }

            &.error-label {
                font-size: 0.35rem;
                margin-top: 5px;
                cursor: pointer;
            }
        }

        .form-control {
            display: block;
            width: calc(100% - 26px);
            height: 34px;
            padding: 0 12px;
            font-size: 0.275rem;
            border-radius: 4px;
        }
    }

    .recipe-container {
        border-radius: 3px;
        overflow: hidden;

        .header {
            padding: 0 2px 0 5px;
            border-radius: 3px 3px 0 0;
            display: flex;
            flex-direction: row;

            .navigation-nav {
                display: flex;
                flex-direction: row;

                &.right {
                    margin-left: auto;

                    .rmel-iconfont {
                        font-size: 0.55rem;
                    }
                }
            }

            .button {
                font-size: 0.275rem;
                height: 36px;
                padding: 0 9px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                svg {
                    height: 14px;
                }
            }
        }

        .body {
            height: 150px;
            overflow: hidden;

            textarea {
                border: none;
                resize: none;
                padding: 15px;
                width: calc(100% - 30px);
                height: calc(100% - 30px);
            }
        }
    }
}

.btn {
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 0.4rem;
}

.comp_fe_search-field {
    .search-container {
        position: relative;
        height: 30px;
        display: flex;
        align-items: center;
        align-content: center;

        .search-icon-container {
            position: absolute;
            height: 30px;
            top: 0;
            left: 10px;
            display: flex;
            align-items: center;

            svg {
                width: 12px;
                height: 12px;
            }
        }

        .clear-icon-container {
            position: absolute;
            top: 0;
            right: 0;
            width: 27px;
            height: 30px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 14px;
                height: 14px;
            }
        }

        .form-control {
            width: 200px;
            min-width: 150px;
            border-radius: 20px;
            font-size: 0.35rem;
            height: 30px;
            padding: 0 30px;
        }
    }
}